@import "tailwindcss";
@tailwind components;
@tailwind utilities;
@tailwind base;

html, body {
  color: #fff;
  background: #071b39;
}
main {
  background: #071b39;
  height: 100vh;
  height: 100dvh;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
